body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #b3e5fc; /* biru langit */
}

header {
  background-color: #0288d1;
  padding: 20px;
  text-align: center;
  color: white;
}

nav {
  background-color: #03a9f4;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  color: #01579b;
}

h3 {
  color: #0277bd;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #0288d1;
  color: white;
  margin-top: 50px;
}